<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= locals.settings.title %></title>
</head>
<body>
<div>Click to <a href="/logout">logout</a></div>
<pre><%- JSON.stringify(locals, null, 2) %></pre>
</body>
</html>